<section id="screen-1" class="main-container">
    <div class="main-container__inner_screen_1">

        <div class="slogan-container">
            <ul class="slogan-container__words">
                <li class="slogan-container__words-line">
                    <p>&nbsp;</p>
                    <p>Wits</p>
                </li>
                <li class="slogan-container__words-line">
                    <p>Wits</p>
                    <p>Агенство</p>
                </li>
                <li class="slogan-container__words-line">
                    <p>Агенство</p>
                    <p>Цифровой</p>
                </li>
                <li class="slogan-container__words-line">
                    <p>Цифровой</p>
                    <p>Трансформации</p>
                </li>
                <li class="slogan-container__words-line">
                    <p>Трансформации</p>
                    <p>&nbsp;</p>
                </li>
            </ul>

        </div>




    </div>
    <div class="main-container__inner_screen_1">
        <div class="main-container__motto motto animate">
            Трансформируем организации в компании будущего
        </div>

        <div class="main-container__consult consult-wrapper">
            <div class=" consult consult__animate-block">
                <div class="consult__icon">
                    <svg class="consult__icon2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 408 408" style="enable-background:new 255 255 255 255;" xml:space="preserve">
                            <path d="M408,178.5H96.9L239.7,35.7L204,0L0,204l204,204l35.7-35.7L96.9,229.5H408V178.5z" />
                        </svg>
                </div>
                <div class="consult__block consult__block_horizontal ">
                    <span class="consult__text">Записаться на консультацию</span>
                </div>
            </div>
        </div>


        <div class="mailto-container main-container__mailto animate">
            <h4 class="mailto-container__header">Письмо самому главному:</h4>
            <a href="#" class="mailto-container__link">chief@seomasters.com.ua</a>
        </div>

    </div>
</section>